bin/
.*.cfg
develop-eggs/
devsrc
/dist/
*.egg-info
*eggs/
*.idea/
/include/
/lib/
/local/
/old-eggs/
/parts/
.project
*.pyc
.pydevproject
*.pyo
.settings
/src/*.egg-info
*.swp
.tmp*
/var/
*.egg
*.mo
/.Python


