[buildout]

extends = http://dist.plone.org/release/4.3-latest/versions.cfg

find-links +=
    http://effbot.org/downloads/

parts =
    instance
    omelette

develop = .

extensions += mr.developer
sources-dir = ${buildout:directory}/devsrc
auto-checkout = *
always-checkout = force
always-accept-server-certificate = true
unzip = true

[versions]
zc.buildout = >= 2.2.1
setuptools = >=3.8.1

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin

eggs =
    collective.wfpubex
    ipdb

zcml =
    collective.wfpubex
