[buildout]
extends = http://dist.plone.org/release/4.3-latest/versions.cfg

find-links +=
    http://effbot.org/downloads/

parts =
    instance
    omelette
    test
    robot
    code-analysis

develop = .

extensions += mr.developer
sources-dir = ${buildout:directory}/devsrc
auto-checkout = *
always-checkout = force
always-accept-server-certificate = true
unzip = true

[sources]
plone.autoform = git git@github.com:plone/plone.autoform.git branch=datakurre-fix-fieldset-merge
Products.cron4plone = git https://github.com/collective/Products.cron4plone.git

[versions]
zc.buildout = >= 2.2.1
setuptools = >=3.8.1

# dx + pact
plone.app.contenttypes = 1.1b1
plone.app.event = 1.1.1
plone.app.layout = 2.3.12
plone.app.portlets = 2.5.1
plone.app.relationfield = 1.2.2
plone.dexterity = 2.2.3
z3c.form = 3.2.1

#robot testing
Pygments = 1.6
plone.app.robotframework = 0.9.4
plone.app.testing = 4.2.4
robotframework = 2.8.4
robotframework-selenium2library = 1.5.0
robotframework-selenium2screenshots = 0.4.0
robotsuite = 1.6.0
selenium = 2.42.1
sphinxcontrib-robotframework = 0.4.3

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
   ${instance:eggs}
   plone.app.dexterity[test]

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
zope-conf-additional =
    <clock-server>
        method /Plone/@@cron-tick
        period 3600
        user admin
        password admin
        host localhost
    </clock-server>

eggs =
    collective.wfeffectiverange[test]
    ipdb

# Code analysis part (pre-commit is git only)
[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/collective/wfeffectiverange
pre-commit-hook = true
flake8-max-complexity = 20
# JS
jshint = True
jscs = True
# CSS
csslint = True
# ZPT
zptlint = True
zptlint-bin = ${buildout:bin-directory}/zptlint
# Deprecation warnings
deprecated-aliases = True
# Conventions
clean-lines = True
imports = True
pep3101 = True
prefer-single-quotes = False
debug-statements = True
# i18n
utf8-header = True
find-untranslated = True
i18ndude-bin = ${buildout:bin-directory}/i18ndude
return-status-codes = False
flake8-exclude = bootstrap.py,docs,*.egg,*.cpy,*.vpy,overrides
