@import url("https://raw.githubusercontent.com/plone/Products.CMFPlone/master/Products/CMFPlone/static/patterns/toolbar/src/css/variables.less");
@import url("https://raw.githubusercontent.com/plone/plonetheme.barceloneta/master/plonetheme/barceloneta/theme/less/variables.plone.less");

.template-wftaskoverview #content {
  h2, h3 {
    display: inline-block;
  }
  a {
    border: 0;
    text-decoration: none;
    &:hover {
      border: 0;
      text-decoration: none;
    }
  }
  td {
    h2, h3, h4 {
      margin-top: 0;
    }
    .icon {
      color: #c4183c;
    }
    &.title {
      width: 40%;
      ul {
        padding-left: 1em;
      }
    }
    &.run_now {
      width: 2em;
      .glyphicon {
        color: #009000;
      }
      .icon-execute::before {
        content: '\e82a';
        font-family: "fontello";
        font-size: 1.5em;
      }
    }
    &.transitions {
      ul {
        list-style-type: disc;
        padding-left: 1.5em;
      }
    }
  }
  select.transition {
    height: 1.5em;
    padding: 2px 4px;
  }
  .pattern-pickadate-wrapper {
    input.picker__input {
      height: 1.5em;
      width: 10em;
      padding: 0;
    }
    button.pattern-pickadate-now {
      display: none;
    }
    button.pattern-pickadate-clear {
      padding: 2px 4px;
      font-size: 13px;
      line-height: 1;
      .glyphicon-trash:before {
        content: "\e014";
      }
    }
  }
}

[class*="contenttype-"]::before,
.contenttype-file #crud-edit-File-widgets-view_title::before {
    font-family:"Fontello";
    font-size: 100%;
    padding: 0;
    margin:0;
    position: relative;
    left: inherit;
    display: inline-block;
    color: inherit;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: @plone-padding-base-vertical;
    content: '\e834';
}

.contenttype-wftaskfolder::before {
  content: '\e805'!important;
}
